<div class="table-responsive">
<table id="myTable" class=" table table-striped table-bordered table-sm" cellspacing="0">
    <thead class="thead-light">
      <tr >
        <th class="th-sm">Country</th>
        <th class="th-sm">Total Cases</th>
        <th class="th-sm">New Cases</th>
          <th class="th-sm">Total Deaths</th>
            <th class="th-sm">New Deaths</th>
              <th class="th-sm">Total Recovered</th>
                <th class="th-sm">New Recovered</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let body of countryStatusArr  ">
        <td>{{body.Country }}</td>
        <td>{{body.TotalConfirmed }}</td>
        <td style="background-color:yellow">+{{body.NewConfirmed}}</td>
         <td>{{body.TotalDeaths}}</td>
        <td style="background-color:red">+{{body.NewDeaths}}</td>
         <td>{{body.TotalRecovered}}</td>
          <td>{{body.NewRecovered}}</td>
      </tr>
    
    </tbody>
  </table>
 