<div class="table-responsive">
<table class="table">
    <thead class="thead-light">
      <tr >
        <th>Country</th>
        <th>Total Cases</th>
        <th>New Cases</th>
          <th>Total Deaths</th>
            <th>New Deaths</th>
              <th>Total Recovered</th>
                <th>New Recovered</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let body of countryStatusArr  ">
        <td>{{body.Country }}</td>
        <td>{{body.TotalConfirmed }}</td>
        <td style="background-color:yellow">+{{body.NewConfirmed}}</td>
         <td>+{{body.TotalDeaths}}</td>
        <td style="background-color:red">{{body.NewDeaths}}</td>
         <td>{{body.TotalRecovered}}</td>
          <td>{{body.NewRecovered}}</td>
      </tr>
    
    </tbody>
  </table>
  </div>