<div class="table-responsive">
<table id="myTable" class=" table table-striped table-bordered table-sm" cellspacing="0">
    <thead class="thead-light">
      <tr >
        <th class="th-sm">Country</th>
        <th class="th-sm">Total Cases</th>
        <th class="th-sm">New Cases</th>
          <th class="th-sm">Total Deaths</th>
            <th class="th-sm">New Deaths</th>
              <th class="th-sm">Total Recovered</th>
                <th class="th-sm">New Recovered</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let body of countryStatusArr  ">
        <td >{{body.Country }}</td>
        <td>{{body.TotalConfirmed  | number   }}</td>
        <td [ngStyle]="{'background-color':body.NewConfirmed>0?'yellow':''}" >{{body.NewConfirmed |number |zeroRemove }}</td>
         <td>{{body.TotalDeaths | number |zeroRemove}}</td>
        <td [ngStyle]="{'background-color':body.NewDeaths>0?'red':''}">{{body.NewDeaths| zeroFilter}}</td>
         <td>{{body.TotalRecovered | number |zeroRemove }}</td>
          <td>{{body.NewRecovered | number |zeroRemove}}</td>
      </tr>
    
    </tbody>
  </table>
 