<div class="card-columns">
<div class="card-body text-center">
      <p class="card-text content">Corona virus Cases Recorded</p>
      <p>{{globalStatus.TotalConfirmed|number}}</p>
    </div>
    <div class="card-body text-center">
      <p class="card-text content">Deaths</p>
      <p>{{globalStatus.TotalDeaths|number}}</p>
    </div>
  
    <div class="card-body text-center">
      <p class="card-text content">Recovered</p>
        <p>{{globalStatus.TotalRecovered|number}}</p>
    </div>
  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text content">Active Cases</p>
        <p>{{globalStatus.ActiveCases.currently_infected_patients|number}}
          
        </p>
         <p class="card-text content-sub">Currently infected patients</p>
   <div class="row">
  <div class="col">
    <p style="color:violet">{{globalStatus.ActiveCases.inMidCondition|number}}
          
        </p>
         <p class="card-text content-sub">in Mild Condition</p>
  </div>
  <div class="col"> <p style="color:red">{{globalStatus.ActiveCases.criticalStates|number}}
          
        </p>
         <p class="card-text content-sub">in Critical Status</p></div>
 
</div>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
       
      <p class="card-text content">Closed Cases</p>
      <p>{{globalStatus.ClosedCases.cases_which_had_an_outcome|number}}
          
        </p>
         <p class="card-text content-sub">Cases which had outcome</p>
   <div class="row">
  <div class="col">
    <p style="color:green">{{globalStatus.ClosedCases.recovered|number}}
          
        </p>
         <p class="card-text content-sub">Recovered</p>
  </div>
  <div class="col"> <p >{{globalStatus.ClosedCases.deaths|number}}
          
        </p>
         <p class="card-text content-sub">Deaths</p></div>
 
    </div>
  </div>
</div>