.content{
  font-size:20px;
  font-weight: 500;
}
.content-sub{
  font-size:14px;
}
.header{
  border:0.5px solid black
}
img{
  width:100vh;
  height:calc(100vh - 120px);
}
.imgwidth{
display:flex;
justify-content: center
}
@media only screen and  (min-width: 576px){
.card-columns-two{
  column-count:2 !important;
  -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    orphans: 1;
    widows: 1;
    line-height: 1.5rem;
}
}