<div class="card-columns">
  <div class="card bg-light">
    <div class="card-body text-center">
      <p>{{globalStatus.TotalConfirmed|number}}</p>
      <p class="card-text content">Total Confirmed</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
      <p>{{globalStatus.TotalDeaths|number}}</p>
      <p class="card-text content">Total Deaths</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
        <p>{{globalStatus.TotalRecovered|number}}</p>
      <p class="card-text content">Total Recovered</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
        <p>{{globalStatus.NewConfirmed|number}}</p>
      <p class="card-text content">New Confirmed</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
        <p>{{globalStatus.NewDeaths|number}}</p>
      <p class="card-text content">New Deaths</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
        <p>{{globalStatus.NewRecovered|number}}</p>
      <p class="card-text content">New Recovered</p>
    </div>
  </div>
</div>